<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="vueSem1.js" defer></script>
</head>

<body>
    <!-- 1. Создать кнопку "Перевернуть". При клике на кнопку текст кнопки, должен перевернуться и отобразиться в обратном порядке. -->
    <div id="reverseDiv">
        <button v-on:click="reverseMessage">{{ message }}</button>
    </div>


    <!-- 2. Есть список элементов. Пользователь может добавлять новые элементы списка с текстом “Новый элемент списка” нажав на кнопку "Добавить". -->
    <div id="list">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <button v-on:click="paste"> добавить следующий элемент </button>
    </div>


    <!-- 3. * При клике на элемент списка он должен быть удален. (по желанию) -->
    <div id="del-list">
        <ol>
            <li v-for="(todo, index) in todos" v-on:click="del(index)">
                {{ todo }}
            </li>
        </ol>
    </div>
</body>

</html>